name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Install tparse
        run: go install github.com/mfridman/tparse@latest

      - name: Run tests
        run: CI="true" go test -v ./... -json | tparse -all
